{
    "development": {
        "FIREBASE_URL": "https://<FIREBASE_PROJECT_ID>.firebaseio.com/",
        "MONGO_URI": "mongodb://<MONGO_DB_HOST>/<MONGO_DB_DATABASE_DEV>",
        "MONGO_OPTIONS": { "db": { "safe": true } },
        "PORT" : 3000
    },
    "test": {
        "FIREBASE_URL": "https://<FIREBASE_PROJECT_ID>.firebaseio.com/",
        "MONGO_URI": "mongodb://<MONGO_DB_HOST>/<MONGO_DB_DATABASE_TEST>",
        "MONGO_OPTIONS": { "db": { "safe": true } },
        "PORT" : 3000
    },
    "production": {
        "FIREBASE_URL": "https://<FIREBASE_PROJECT_ID>.firebaseio.com/",
        "MONGO_URI": "mongodb://<MONGO_DB_HOST>/<MONGO_DB_DATABASE>",
        "MONGO_OPTIONS": { "db": { "safe": true } },
        "PORT" : 3000
    }
}
